*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #eadbd1 !important;
}

.card{
    transition: all 1s ease-in-out 0s ;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.388);
}

.card-text {
  color: #d1d5db;
}

.card-title {
  color: #ffffff;
}


